* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bgPattern.png");
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid white;
    background-color: ghostwhite;
    margin: auto;
    width: 1000px;
    padding: 20px;
}

nav {
    background-image: url("images/menuBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav ul li {
    position: relative;
    margin-right: 30px;
}

nav ul li a {
    color: ghostwhite;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: white;
    color: #333;
}

nav ul li ul.level1 {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: grey;
    box-shadow: 5px 20px 30px grey;
    max-width: 200px;
    z-index: 1;
    display: none;
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover ul.level1 {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav ul li ul.level1 li a {
    color: white;
    padding: 10px;
    background-color: grey;
    transition: background-color 0.3s ease;
}

nav ul li ul.level1 li a:hover {
    background-color: orange;
}

nav ul li ul.level1 ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: grey;
    box-shadow: 5px 20px 30px grey;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

nav ul li ul.level1 li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav ul li ul ul.level2 {
    background-color: orange;
}

.header_image_slider {
    margin-top: 20px;
}

.header_image_slider ul {
    list-style: none;
}

.header_image_slider img {
    width: 100%;
    height: auto;
}

.text {
    margin-top: 10px;
}

.highlight {
    font-weight: bold;
    color: #333;
}
